<div class="question-container" id="question{{count}}">
  <div>
    <h1 class="question-title">{{__ 'Question'}} {{count}}</h1>
    <input type="button" class="btn btn-default" value="X" name="btn_remove_question{{count}}"
      onclick='$("#question{{count}}").remove(); renumber_questions();'>
  </div>
  <label for="title_question{{count}}">{{__ 'Question Title:'}} (NOT IMPLEMENTED YET)</label>
  <input type="text" class="form-control" name="title_question{{count}}" value="{{name}}">
  <label for="text_question{{count}}">{{__ 'Question Text:'}}</label>
  <input type="text" class="form-control" name="text_question{{count}}" value="{{question}}">
  <input type="hidden" name="type_question{{count}}" value="{{type}}">
  <div class="question-content-container" id="content_question{{count}}"></div>
</div>
