<div id="mc_possible_answer{{num}}_question{{count}}">
  <label for="mc_answer{{num}}_question{{count}}">{{__ 'Answer'}} {{num}}:</label>
  <input type="text" name="mc_answer{{num}}_question{{count}}" value="{{value}}">
  <label for="mc_answer{{num}}_iscorrect_question{{count}}">{{__ 'Correct'}}?</label>
  <input type="checkbox" name="mc_answer{{num}}_iscorrect_question{{count}}" {{#if isCorrect}}checked{{/if}}>
  {{#if value}}
  <input type="button" name="btn_remove_answer{{num}}_question{{count}}" value="-" onclick="$('#mc_possible_answer{{num}}_question{{count}}').remove();">
  {{else}}
  {{/if}}
</div>
