<div id="q{{count}}_sa_possible_answer{{num}}">
  <label for="q{{count}}_sa_answer{{num}}">{{__ 'Accepted Answer:'}}</label>
  <input type="text" name="q{{count}}_sa_answer{{num}}" id="q{{count}}_sa_answer{{num}}" value="{{value}}">
</div>
