<div id="sa_possible_answer{{num}}_question{{count}}">
  <label for="sa_answer{{num}}_question{{count}}">{{__ 'Accepted Answer:'}}</label>
  <input type="text" name="sa_answer{{num}}_question{{count}}" value="{{value}}">
</div>
