<label for="tf_answer_question{{count}}">{{__ 'Answer'}}:</label>
<input type="radio" name="tf_answer_question{{count}}" {{#if answer_true}}checked{{/if}}>{{__ 'True'}}
<input type="radio" name="tf_answer_question{{count}}" {{#if answer_false}}checked{{/if}}>{{__ 'False'}}
