<label for="q{{count}}_tf_answer">{{__ 'Answer'}}:</label>
<input type="radio" name="q{{count}}_tf_answer" {{#if answer_true}}checked{{/if}}>{{__ 'True'}}
<input type="radio" name="q{{count}}_tf_answer" {{#if answer_false}}checked{{/if}}>{{__ 'False'}}
