<label for="answer_question{{count}}">{{__ 'Answer'}}:</label>
<input type="radio" name="answer_question{{count}}" value="true" {{#if answer_true}}checked{{/if}}>{{__ 'True'}}
<input type="radio" name="answer_question{{count}}" value="false" {{#if answer_false}}checked{{/if}}>{{__ 'False'}}
